<!DOCTYPE html>
<html lang="en" data-controller="dark-mode">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | url }}">
    <script type="text/javascript">
      // Load the page with dark if preferred
      var isDarkPreferred = window.matchMedia('(prefers-color-scheme: dark)').matches;
      var savedModePreferred = window.localStorage.getItem('dark_mode');
      var initialMode = savedModePreferred || (isDarkPreferred ? 'dark' : 'light');
      document.querySelector('html').classList.add(initialMode);
    </script>
  </head>
  <body class="w-full h-full bg-white dark:bg-slate-800 prose prose-headings dark:prose-invert mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-2">

    <header class="bread-crumbs shrink-0 grow-1">
      <nav class="flex justify-between content-center">
        <ul class="list-none pl-0 text-lg flex flex-row justify-start align-middle">
          <li class="list-none inline-block"><a href="{{ '/' | url }}" class="no-underline font-bold"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></a></li>
          {% for week in collections.spread_pool | sort(false, true, 'week') %}
          <li class="list-none inline-block"><a href="{{ ('/week/' + week.week) | url }}" class="no-underline font-light">{{ week.week }}</a></li>
          {% endfor %}
        </ul>
        <button data-action="dark-mode#toggle">(x)</button>        
      </nav>
    </header>
    
    <main> 
      <div class="w-full w-max-full pt-8 pb-6 overflow-hidden">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      <div class="flex flex-col lg:flex-row">
        <div>
          <h2 class="font-light">Share</h2>
          <img data-controller="qr-code"></img>
        </div>     
        <div>
          <h2 class="font-light">Resources</h2>
          <ul class="">
            <li class="list-none"><a href="">Rules</a></li>
          </ul>
        </div>        
      </div>      
    </footer>
    <script defer src="{{ '/bundle.js' | url }}"></script>
  </body>
</html>