<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Grab title from the page data and dump it here -->
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/styles.css' | url }}">
</head>
<body class="w-full h-full">
  <main class="bg-white prose prose-headings mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-2"> 
    <div class="pt-8 pb-6">
      {{ content | safe }}
    </div>
  </main>
</body>
</html>