---
layout: layout.njk
title: Jimbo's NFL Pools
permalink: "/"
---

{% set spreadPool = collections.spread_pool | sort(true, false, 'week') %}
{% set latestWeek = spreadPool | first %}
<section>
    <h1 class="text-4xl font-bold tracking-tight text-gray-900">{{ title }}</h1>
</section>

<div class="flex sm:flex-row">
    <section class="lg:mr-8">
        <h2>Weeks</h2>
        <ul>
        {% for week in spreadPool %}
            <li class=""><a href="{{ ('/week/' + week.week) | url }}">{{ week.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Standings</h2>
        <table>
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Points</th>
                <th>Wins</th>
            </thead>
            <tbody>
            {% for standing in latestWeek.standings %}
                <tr>
                    <td>{{ standing.position }}</td>
                    <td><a href="{{ ('/players/' + (standing.name | slugify)) | url}}">{{ standing.name }}</a></td>
                    <td>{{ standing.points }}</td>
                    <td>{{ standing.wins }}</td>        
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
        Standings as of the completion from week {{ latestWeek.week-1 }}.  Estimated standings are displayed when looking
        at the <a href="{{ ('/week/' + latestWeek.week) | url }}">current week</a>.
        <p>
    </section>
</div>