---
layout: layout.njk
title: Jimbo's NFL Pools
permalink: "/"
---

{% set spreadPool = collections.spread_pool | sort(true, false, 'week') %}
{% set latestWeek = spreadPool | first %}
<h1 class="text-4xl font-bold tracking-tight">Spread Pool</h1>

<div class="w-full flex flex-col lg:flex-row py-4">
    <article class="px-2 lg:basis-9/12">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <th>#</th>
                <th>Name</th>
                <th>Points</th>
                <th>Wins</th>
            </thead>
            <tbody>
            {% for standing in latestWeek.standings %}
                <tr>
                    <td>{{ standing.position }}</td>
                    <td><a href="{{ standing | playerUrl | url}}">{{ standing.name }}</a></td>
                    <td>{{ standing.points }}</td>
                    <td>{{ standing.wins }}</td>        
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

    <article class="my-3 lg:basis-3/12">
        <p class="text-sm py-4 px-3 rounded bg-orange-200 dark:bg-yellow-700 dark:text-white">
        The standings may not be 100% up-to-date!  I do my best to update with the results from Jimbo 
        on Tuesday or Wednesday.  You can always check out the <a href="{{ latestWeek | weekUrl | url }}">latest</a>
        published week.
        <p>
    </article>
</div>

<h1>Suicide Pool</h1>

<section>
    TODO
</section>