---
layout: layout.njk
pagination:
  data: collections.spread_pool
  size: 1
  alias: week
permalink: "week/{{ week.week }}/"
---

<h1>{{ week.name }}</h1>

<section class="w-full flex flex-col lg:flex-row py-4">

  <!-- Displays all the player picks -->
  <article class="px-2 lg:basis-9/12 week-picks overflow-auto">
    <div class="overflow-x-auto relative">
      <table class="not-prose w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-100 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-100 font-semibold">
          <tr>
            <th>Player</th>
            {% for pick in week.playerPicks[0].picks %}
            <th>&nbsp;</th>
            {% endfor %}
            <th>Points</th>
            <th>TieBreak</th>
          </tr>
        </thead>
        <tbody>
          {% for playerPick in week.playerPicks | sort(true, true, 'points') %}
          <tr>
            <td class="player-name ">
              <a class="font-semibold text-gray-800" 
                href="{{ playerPick | playerUrl | url }}">
                {{ playerPick.name }}
              </a>
            </td>
            {% for pick in playerPick.picks %}
            <td class="{{pick.team}}-{{week.games[loop.index-1].winningTeam}} spread{{ pick.team | classIfMatch(week.games[loop.index-1].winningTeam, 'winner') }}">{{ pick.team }}{{ pick.threePoint | threePoint }}</td>
            {% endfor %}
            <td class="font-semibold text-gray-800">{{ playerPick.points }}</td>
            <td class="font-semibold text-gray-800">{{ playerPick.tieBreak }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </article>

  <!-- Displays the week games and spreads -->
  <article class="lg:basis-3/12" overflow-auto>
    <table class="not-prose w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th>&nbsp</th>
          <th class="text-center">Games</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody class="font-semibold text-gray-800">
        {% for game in week.games %}
        <tr class="table-auto">
          <td class="game-score">
            <span class="spread{{ game.winningTeam | classIfMatch(game.favoriteTeam, 'covered') }}">{{ game.favoriteScore }}</span>
          </td>
          <td class="text-center ">
            <span class="favorite-team">{{ game.favoriteTeam }}</span>
            <span class="spread">{{ game.spread }}</span>
            <span class="underdog-team">{{ game.underdogTeam }}</span>
          </td>
          <td class="game-score">
            <span class="spread{{ game.winningTeam | classIfMatch(game.underdogTeam, 'covered') }}">{{ game.underdogScore }}</span>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td/>
          <td class="text-center">
            {% set lastGame = week.games | last%}
            {% if lastGame.favoriteScore %}
            <span class="">Tie Break: {{ lastGame.favoriteScore + lastGame.underdogScore }}</span>
            {% endif %}
          </td>
          <td/>
        </tr>
      </tbody>
    </table>
  </article>
</section>