---
layout: layout.njk
pagination:
  data: collections.spread_pool
  size: 1
  alias: week
permalink: "week/{{ week.week }}/"
---

<section class="bread-crumbs shrink-0 grow-1">
  <ul class="list-none pl-0 text-lg flex flex-row justify-start align-middle">
    <li class="list-none inline-block"><a href="{{ '/' | url }}" class="no-underline font-bold"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg></a></li>
    {% for week in collections.spread_pool | sort(false, true, 'week') %}
    <li class="list-none inline-block"><a href="{{ ('/week/' + week.week) | url }}" class="no-underline font-light">{{ week.week }}</a></li>
    {% endfor %}
  </ul>
</section>

<section>
  <h1>{{ week.name }}</h1>
</section>

<div class="flex">
  <section class="week-games lg:mr-8">
    <table>
      <thead>
        <tr>
          <th>Games</th>
        </tr>
      </thead>
      <tbody>
      {% for game in week.games %}
        <tr>
          <td class="game-score">
            <span class="spread{{ game.winningTeam | classIfMatch(game.favoriteTeam, 'covered') }}">{{ game.favoriteScore }}</span>
          </td>
          <td class="font-medium">
            <span class="favorite-team">{{ game.favoriteTeam }}</span>
            <span class="spread">{{ game.spread }}</span>
            <span class="underdog-team">{{ game.underdogTeam }}</span>
          </td>
          <td class="game-score">
            <span class="spread{{ game.winningTeam | classIfMatch(game.underdogTeam, 'covered') }}">{{ game.underdogScore }}</span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    <tr>
      <td/>
      <td>
        {% set lastGame = week.games | last%}
        <span class="">Tie Break: {{ lastGame.favoriteScore + lastGame.underdogScore }}</span>
      </td>
      <td/>
    </tr>
    </table>
  </section>
  <section class="week-picks"> 
    <table>
      <thead>
        <tr>
          <th>Player</th>
          {% for pick in week.playerPicks[0].picks %}
          <th>&nbsp;</th>
          {% endfor %}
          <th>Points</th>
          <th>TieBreak</th>
        </tr>
      </thead>
      <tbody>
        {% for playerPick in week.playerPicks | sort(true, true, 'points') %}
        <tr>
          <td class="player-name font-bold">{{ playerPick.name }}</td>
          {% for pick in playerPick.picks %}
          <td class="{{pick.team}}-{{week.games[loop.index-1].winningTeam}} spread{{ pick.team | classIfMatch(week.games[loop.index-1].winningTeam, 'winner') }}">{{ pick.team }}{{ pick.threePoint | threePoint }}</td>
          {% endfor %}
          <td class="font-bold">{{ playerPick.points }}</td>
          <td class="font-bold">{{ playerPick.tieBreak }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>