---
layout: layout.njk
pagination:
  data: collections.players
  size: 1
  alias: player
permalink: "players/{{ player.id }}/"
---

<h1>{{ player.name }}</h1>
<h2 class="font-light">{{ player.standing.position | ordinal }} <span class="font-thin">Place</span> {{ player.standing.points }} <span class="font-thin">Points</span></h2>

<section>
  <article class="overflow-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs uppercase bg-gray-50 dark:bg-gray-700 font-semibold">
        <tr>
          <th>Week</th>
          {% for index in range(0, 17) %}
          <th>&nbsp;</th>
          {% endfor %}
          <th>TieBreak</th>
          <th>Points</th>        
        </tr>      
      </thead>
      <tbody>
        {% for picks in player.playerPicks | sort(false, true, 'week') %}
        <tr>
          <td class="font-semibold">{{ picks.week }}</td>
          {% for index in range(0, 17) %}
          {% set pick = picks.picks[index] %}
          <td class="spread{{ pick.team | classIfMatch(pick.winningTeam, 'winner') }}">
            {{ pick.team }}{{ pick.threePoint | threePoint }}          
          </td>
          {% endfor %}
          <td class="font-semibold">{{ picks.tieBreak }}</td>
          <td class="font-semibold">{{ picks.points }}</td>        
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </article>

  <article>
    <h2 class="font-light">Players</h2>
    <ul class="m-0 p-0">
      {% for p in collections.players %}
      <li class="inline-block list-none p-3">
        <a 
          class="font-light no-underline" 
          href="{{ p | playerUrl | url }}">{{ p.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </article>
</section>